<div class="header-style">
  <nav class="nav-list-style">
    <h1>Find Movies</h1>
    <div class="nav-menu">
      <i (click)="toggleNav()" class="fas fa-bars"></i>
      <ul *ngIf="nav">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/favorites">Favorites</a></li>
      </ul>
    </div>

    <div class="nav-menu-browser">
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/favorites">Favorites</a></li>
      </ul>
    </div>
  </nav>
</div>
