.header-style {
  background-color: #f05454;
  width: 100vw;
  padding: 10px;
}

h1 {
  text-shadow: 1px 1px 2px black;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.nav-menu-browser {
  display: hidden;
}
.nav-list-style {
  display: flex;
  justify-content: space-between;
}
.nav-menu {
  float: right;
  margin-right: 10px;
  padding: 3px;
}
.fa-bars {
  float: right;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3em;
    text-shadow: 1px 1px 2px black;
  }
  ul {
    display: flex;
    flex-direction: row;
  }
  li {
    padding: 5px;
    margin: 5px;
  }
  .fa-bars {
    display: none;
  }
  .nav-menu-browser {
    display: flex;
    flex-direction: row;
  }
}
