.card-btn {
  height: 6vh;
  width:50%; 
  background-color: #222831;
  color: #dddddd;
}
#heart {
  font-size: 20px;
}
.favorite {
  color: #dddddd;
  background-color: red;
  border: 0;
  border-radius: 5px;
}
.not-favorite {
  color: black;
  background-color: #222831;
  border: 0;
  border-radius: 5px;
}

.movie-poster {
  display: flex;
  flex-direction: column;
  /* width: 60%; */
  padding: 10px;
}

.poster-image {
  /* width: auto; */
}

.btn-container {
  display: flex;
  width: 100%;
}

.overview {
  padding: 12px;
  text-align: justify;
  background-color: rgba(34,40,49,0.85);
}

@media screen and (min-width: 768px) {
  .movie-poster {
    margin: 10px;
    max-width: 390px;
  }
}
