.favorite {
  color: white;
  background-color: red;
  border: 0;
  border-radius: 5px;
}

.not-favorite {
  color: black;
  background-color: white;
  border: 0;
  border-radius: 5px;
}

.movie-poster {
  display: flex;
  flex-direction: column;

  width: 80%;
  padding: 10px;
}

.card-btn {
  height: 10vh;
  width: 50%;
  background-color: #222831;
  color: #dddddd;
}
.btn-container {
  display: flex;
  width: 100%;
}
