.formbtn {
  background-color: #222831;
  color: #dddddd;
}
.search-icon {
  display: flex;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  padding: 3px;
}
.forms-section {
  display: flex;
  flex-direction: column;
}
.forms-style {
  display: flex;
  flex-direction: column;
}
