.movie-card-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: min-content;
  padding: 5px;
  align-items: center;
  margin: 5px auto;
}

.fav-header {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .movie-card-section {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
